/* VARIABLES */

@font-face {
  font-family: "Cormorant";
  src: url("/Cormorant-Regular.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand-Regular.ttf");
}

:root {
  /* COLORS */

  --black: #1c1917;
  --gray-dark: #292524;
  --gray-light: #e7e5e4;
  --white: #f5f5f4;

  --purple-dark: oklch(38.1% 0.176 304.987);
  --purple: #8e51ff;
  --purple-light: #c4b4ff;

  --green-dark: oklch(44.8% 0.119 151.328);
  --green: #7bf1a8;
  --red-dark: oklch(44.4% 0.177 26.899);
  --red: #ff6467;

  /* THEME */

  --bg-dark: var(--black);
  --bg: var(--gray-dark);

  --text: var(--gray-light);
  --text-emphasis: var(--white);

  --theme-1: var(--purple);
  --theme-2: var(--purple-light);
  --theme-3: var(--purple-dark);

  --success: var(--green);
  --success-dark: var(--green-dark);
  --error: var(--red);
  --error-dark: var(--red-dark);

  /* FONTS */

  --header-font: "Quicksand", sans-serif;
  --body-font: "Cormorant", serif;

  /* SIZES */

  --1: 8px;
  --2: 16px;
  --4: 32px;
  --8: 64px;
  --16: 128px;
  --32: 256px;
  --64: 512px;
  --128: 1024px;

  --font-small: 20px;
  --font-normal: 24px;
  --font-large: 32px;

  /* UTIL */
  --rounded: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--bg-dark);
  gap: var(--2);
  min-height: 100vh;
  margin: 0;
  color: var(--text);
  font-size: var(--font-normal);
  font-family: var(--body-font);
}

article {
  max-width: var(--128);
  align-self: center;
  width: calc(100% - var(--8));
}

a {
  color: var(--theme-2);
  text-decoration: none;
}

a:hover {
  color: var(--theme-1);
}
